@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background_color: #121212;
  --main_text: #f0f8ff;
  --sub_text: #ffffff;
  --button_color: #181818;
  --button_text: #ffffff;
  --form_background: rgba(30, 30, 30);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.markdown > * {
  all: revert !important;
}